{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-4">
      <h1>マイプロフィール</h1>
      <div class="item">アイコン</div>
      <div class="item">ユーザー名：{{user.username}}</div>
      <div class="item">nickname</div>
      <div class="item">bio</div>
      <div class="item">E-mail：{% if user.email %}{{user.email}}{% else %}未設定{% endif %}</div>
      <a href="#" class="btn btn-primary">プロフィール編集</a>
      <a href="#" class="btn btn-danger">アカウント削除</a>
    </div>
  </div>
{% endblock content %}
